# Виртуальное окружение
.venv/
__pycache__/
*.py[cod]

# Переменные окружения и секреты
.env
.env.*
!.env.example

# Базы данных
*.sqlite3
*.db

# Логи и временные файлы
*.log
.pytest_cache/
.pylintdash/
.pylintrc_v2